export ALICE_TOKEN=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoiYWxpY2UiLCJhenAiOiJhbGljZSIsInN1Ym9yZGluYXRlcyI6W10sImhyIjpmYWxzZX0.ToHgBboCLjv1kGfAwOFjtJLClIZTG9qLZGZmZm2VWK6Q5FHfVJF4oWU42hkVSh_n-rtP4jayOQsEKYt_Dfwo6mNUtTURRtPoJHXswsfttng3ZGogxwDcJ3miWT5dMQdAGBEX6GwbiGOgWEYf6XxS8pV6y_svEwdAAjnER80hTp5HdOlQqrJCZ7IaIlsILIX_e_QDoY8WQ21fbk6UkeNY3mib2p2A9PRfCjAC43yDdnqsrAPLdSkmZqX1INkHHa740SbrnsweVY1VmbbUGv7k7ktV7ylBGndrk3anKgst2XhlG6irYBLtAtJ7svJS1de9uJJNrkJsTQT1QyhqExw3ZQ
export BETTY_TOKEN=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoiYmV0dHkiLCJhenAiOiJiZXR0eSIsInN1Ym9yZGluYXRlcyI6WyJjaGFybGllIl0sImhyIjpmYWxzZX0.Gnx6obPykFsGnYqReFoVgOgMtiLzkexeI9V93f-A2Y_n88WxKi8UHHMqhNhY9Pu0B8rJVFYtyobmQgGEg-qZrv4dDi3wMN5XhYH2ua51pY4j9F-BAnhjJkVkQI-bBwzNdU5iRORJ-Pa6ylTUyC2wb54Vg_OEao4BtQtNPJGVfQ395KUg1b7Y-BLzqSBUKrOZE174uLTfqJoLrnMUiCpTxX7974BFHqant2m2-fRD_2jB4bQB-YkxFUy3YrL2XYpr2V6xxzJNddzb-cE_yfFu1XhOF9MEG7uzWTvGa9IrrwwWcqoLqxDRn9j8G8hH82L8IYRw4BKIwTTpJExOEJE68A
export BOB_TOKEN=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoiYm9iIiwiYXpwIjoiYm9iIiwic3Vib3JkaW5hdGVzIjpbImFsaWNlIl0sImhyIjpmYWxzZX0.bS-TDqc8o31PATieRILtav2Yzd-ket3S0jS8okH28EhsBnQMajcZo_BRGp4ZJXQsJYyy9umCIxy0D7Y5lx0YLJIVGWs3NitTZi5jiG7b1KSj11VBYM_YQPdol1mDVtcZQ1CvFv6-12ZNUvZeZMLCUUwl8QsFSeUbDeA6Y0nY42g4_DcLtwaCun9gTFlGfPeAyIcbvqiX8un4oDD8oVW5jo29tb8gRvfxzv2DRRYrtYURPdvDyQo6l0fypq-_1d5pOJIvu4YBGtDlkVXAT07BXpYCKE9KlNA7KKiXmpQnCMQATMUWYvzOJtCe6MRk4NOPdyLgN7jIhvlto13rnlJcqQ
export CHARLIE_TOKEN=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoiY2hhcmxpZSIsImF6cCI6ImNoYXJsaWUiLCJzdWJvcmRpbmF0ZXMiOltdLCJociI6ZmFsc2V9.O_wQRVoRARVJVKo2zpWyijpTbPUHvPZYguxdNmDseMXPjwKWh8hQxwl37Wd6tVaSBCei44tcaJjsqxb8jF5wC40peBCV6zby-eO2i-dABZEa0ftS_3CGT2bVhr78dop31YwHdlncRusK0s2H3rlObMQvwQSlaAbq7ifJScA-_661n_wQSM8tSjIUvedxBDnKrfHRuK1eJ83gY1Nzlzg_eCnzLZZD2z16LoB0H96s8TTpL76bSFsk_QCRbMrNCrYPy5t6MJUrZUKUQxeZuP2rLmDyza1_ynqpEn70ZkLN9xwI4o2bp4z1SYDtZFkk2AEGEOHBAM4KaUkEELSVBaui6g
export DAVID_TOKEN=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoiZGF2aWQiLCJhenAiOiJkYXZpZCIsInN1Ym9yZGluYXRlcyI6W10sImhyIjp0cnVlfQ.N-pOgDBmwrD0adJFc-I7NfB5CzwP9meXfQiVFJnr6xkp_9ehNrvHb8gDTldu0WS6ZqhIWxd5A5QUEiM2JIJpsV_ssM0GMbZ-ySIenrg9K4FZZdhGP16K-y5dKiz-VRayibwdQnLqbl3mRjA4V56aQpsJ42BYPZQlIDkUE0YC0-R2vzdlHk8q4fhkirVlfdbc3nu4WcxCV2S7AKlkQKafu0jmJQvJ_xKkpgv3WWyLHfoR_Di7R_5V3X8sM0O8TkC_99jPnWAz06OOpcnhswIMiL4jIk_z_7dHmv6kAuua_4qGfdsj59554Z4LSeyfGyQBTlQEjZZ-xjp7VTd1VRIyiw
